@using ReservationFlight.Model.Common;
@model PagedResult<ReservationFlight.Model.Systems.Users.UserViewModel>

@{ ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Scripts{
    <script src="/js/disableaccount.js"></script>
    <script>
        var userController = new UserController();
        userController.initialize();
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách khách hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách khách hàng</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                </div>
                <div class="col-md-5 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                @*name: là tên tham số*@
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-secondary">Đặt lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Trạng thái tài khoản
                            </th>
                            <th class="text-center">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {

                            if (item.UserName != "admin")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @if(item.LockEnable == false)
                                        {
                                            string status = "Hoạt động";
                                            @Html.DisplayFor(modelItem => status)
                                        }
                                        else 
                                        { 
                                            string status = "Đã khóa";
                                            @Html.DisplayFor(modelItem => status)
                                        }                                   
                                    </td>
                                    <td class="text-center">
                                        @if (item.LockEnable == true)
                                        {
                                            <button class="btn btn-primary btn-user" data-url="@Url.Action("Details","User", new { id = item.Id })">Xem chi tiết</button>
                                            <button class="btn btn-success btn-user-status" data-id="@item.Id">Mở khóa</button> }
                                        else
                                        {
                                            <button class="btn btn-primary btn-user" data-url="@Url.Action("Details","User", new { id = item.Id })">Xem chi tiết</button>
                                            <button class="btn btn-danger btn-user-status" data-id="@item.Id">Khóa tài khoản</button>                    
                                        }
                                    </td>
                                </tr>
                            }
                         }
                    </tbody>
                </table>
            </div>
            @*truyền Model PagedResult vào vì hàm InvokeAsync của class PagerViewComponent nhận 1
                tham số object PagedResult*@
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
