@using ReservationFlight.Utility
@model ReservationFlight.Model.Catalog.Aviations.AviationViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Chi tiết hãng hàng không";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Chi tiết hãng hàng không @Model.Name</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết hãng hàng không</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Aviation">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">
                                @Html.DisplayNameFor(model => model.AviationCode)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AviationCode)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                @Html.DisplayNameFor(model => model.ImageAviation)
                            </td>
                            <td>
                                <img style="width:150px;height:150px" src="@(Configuration["BaseAddress"] + Model.ImageAviation)" alt="Alternate Text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
